.appbar{
background-color: red;
}

.mySlider{

color: red ;
position: static ;

}
.mySlider .thumb{
    color: yellow;
}
.mySlider_2 {

color: rgb(0, 55, 255) ;
position: static ;

}
.mySlider  .MuiSlider-thumb{
    color: blueviolet;
}
.MuiButton .MuiButton-text{
color: red;
}

.wishlist__count__number{
    position: absolute;
    left: 28px;
    right: 8px;
    top:12px;
    color:white;
    border:none;
    border-radius: 50%;
    background-color: red;
    height: 17px;
    width: 17px;
    font-size: 12px;
}

