.wrapper{
    width: 90%;
    margin: auto auto;
    padding: 20px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(to right,rgba(133, 228, 223, 0.644),transparent);
    
}