*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
@font-face{
  font-family: 'iransanse';
  src: './assests/fonts/FontsFree-Net-ir_sans.ttf' format('.ttf')
}
@font-face{
  font-family: 'vazir';
  src: './assests/fonts/FontsFree-Net-Vazir-Medium-1.ttf' format('.ttf')
}

